#wrapper{
    width: 960px;
    margin: 0px auto;
    background-color:whitesmoke;
    padding: 20px;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.box{
    width: 400px;
    height: 400px;
    margin:10px;
    border: 1px solid black;
    text-align: center;
    flex-direction: column;
}
.navbar{
    background-color: darkgray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#welcome_bar{
    display:flex;
    justify-content: space-between;
}
.navbar a button{
    background-color: blue;
    color: white;
}