<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id=wrapper>
        <h1>Welcome to Stock Tracker</h1>
        <div>
            <a href="/login"><button>Returning User</button> </a><a href="/register"><button>New User</button> </a>
        </div>
    </div>
</body>
</html>