#wrapper{
    width: 960px;
    background-color: #167e56;
    margin: 0px auto;
    color: white;
}
body{
    background-color: grey;
}
form{
    display:flex;
    flex-direction: column;
    padding: 20px;

}
.navbar{
    background-color:black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.navbar a button{
    background-color: #167e56;
    color: white;
}
.box{
    width: 400px;
    height: 400px;
    margin:10px;
    border: 1px solid black;
    text-align: center;
    flex-direction: column;
}
#main{
    display:flex;
    flex-wrap:wrap;
}